{%extends 'home/base.html'%}
{% load static %}

{%block content%}
<div class="row">
    {% for x in img %}
        <div class="col-sm-4">
            <div class="card m-2">
                <a href="{% url 'viewer' pk=x.id%}"><img src="{{x.image.url}}" alt="" class="card-img-top" height="200px"></a>
            </div>
            <div class="card-footer"></div>
            <small class="text-muted text-center">{{x.created}}</small>
        </div>
        <div class="image1">
            <source src="../../static/images/custom 1.jpg" alt="">
            <img src="../../static/images/custom 2.png" alt="">
        </div>
    {% endfor %}
</div>


{%endblock%}