{%extends 'home/base.html'%}
{%load static%}

{% block head %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../../static/aboutcss/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/aboutcss/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../static/aboutcss/fontAwesome.css">
        <link rel="stylesheet" href="../../static/aboutcss/hero-slider.css">
        <link rel="stylesheet" href="../../static/aboutcss/owl-carousel.css">
        <link rel="stylesheet" href="../../static/aboutcss/templatemo-style.css">
        <link rel="stylesheet" href="../../static/aboutcss/lightbox.css">

        <script src="../../static/aboutjs/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
{% endblock%}



{%block content%}
<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>FAST CERTIFY </em> <span>CERTIFICATE </span> GENERATOR</h2>
            <p>FAST CERTIFY is the best online certificate generator with custom design</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Let's Start</a>
            </div>
        </div>
    </div>
</div>


<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="{% static 'aboutimg/service_icon_01.png'%}" alt="">
                    </div>
                    <h4>Smart Notifications</h4>
                    <div class="line-dec"></div>
                    <p>You will get notified by the email.Just one click to send bulk certificates to all the students </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../static/aboutimg/service_icon_02.png" alt="">
                    </div>
                    <h4>Lovely certificates Design</h4>
                    <div class="line-dec"></div>
                    <p>Having the best content and certificate creator. You can also manually design a certificate </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../static/aboutimg/service_icon_03.png" alt="">
                    </div>
                    <h4>24/7 Quick Support</h4>
                    <div class="line-dec"></div>
                    <p>Feel free to talk to us on directly on whatsapp by just clicking on contact - us both admin and support will respond </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="../../static/aboutimg/service_icon_04.png" alt="">
                    </div>
                    <h4>One-Click emailer</h4>
                    <div class="line-dec"></div>
                    <p>After designing you can just click on submit to mail all the recepient at one click</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h4>Our Gallery</h4>
                        <div class="line-dec"></div>
                        <p>In malesuada placerat ligula et bibendum. Aenean eget urna enim. Sed enim ante, bibendum nec dictum ac, gravida ac lectus.</p>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Show All</span></li>
                                <li class="filter" data-filter="branding"><span>Branding</span></li>
                                <li class="filter" data-filter="graphic"><span>Graphic</span></li>
                                <li class="filter" data-filter="nature"><span>Nature</span></li>
                                <li class="filter" data-filter="animation"><span>Animation</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 project-item mix nature">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../../static/aboutimg/portfolio_big_item_01.jpg" data-lightbox="image-1"><img src="img/portfolio_item_01.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix animation">
                                  <div class="thumb">
                                    <div class="image">
                                            <a href="../../static/aboutimg/portfolio_big_item_02.jpg" data-lightbox="image-1"><img src="../../static/aboutimg/portfolio_item_02.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="i../../static/aboutimg/portfolio_big_item_03.jpg" data-lightbox="image-1"><img src="../../static/aboutimg/portfolio_item_03.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="../../static/aboutimg/portfolio_big_item_04.jpg" data-lightbox="image-1"><img src="../../static/aboutimg/portfolio_item_04.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="../../static/aboutimg/portfolio_big_item_05.jpg" data-lightbox="image-1"><img src="../../static/aboutimg/portfolio_item_05.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="../../static/aboutimg/portfolio_big_item_06.jpg" data-lightbox="image-1"><img src="../../static/aboutimg/portfolio_item_06.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>


<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p> Main creator frontend and backend </p>
                            <h4>Sarthak Punjabi</h4>
                            <span>Full stack developer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p> Frontend developement  </p>
                            <h4>rythm rana</h4>
                            <span>Frontend devloper</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p> Documentation and content writer</p>
                            <h4>Vishnu</h4>
                            <span>Researcher and documentation head</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="tabs-content" id="blog">
    <div class="container">
        
    </div>
</div>

<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contact Us</h4>
                    <div class="line-dec"></div>
                    <p>just click the below button to contact us</p>
                    <div class="pop-button">
                        <h4>Send us a message</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pop">
                    <span>✖</span>
                    <form id="contact" action="#" method="post">
                        <div class="row">
                            <div class="col-md-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="btn">Send Message</button>
                              </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3437.1751349614733!2d76.65758911575668!3d30.51608648171324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fc32344a6e2d7%3A0x81b346dee91799ca!2sChitkara%20University!5e0!3m2!1sen!2sin!4v1620954710381!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>fast </em>certify</a>
                    <p>Copyright &copy; 2020 chitkara university
                   
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>Chandigarh-Patiala National Highway (NH- 64),<br/> Village, Jansla, Rajpura, Punjab 140401</li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: 9893293289</li>
                        <li><em>Email</em>: sarthakpunjabi04@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../static/aboutjs/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="../../static/aboutjs/vendor/bootstrap.min.js"></script>

<script src="../../static/aboutjs/plugins.js"></script>
<script src="../../static/aboutjs/main.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    // navigation click actions 
    $('.scroll-link').on('click', function(event){
        event.preventDefault();
        var sectionID = $(this).attr("data-id");
        scrollToID('#' + sectionID, 750);
    });
    // scroll to top action
    $('.scroll-top').on('click', function(event) {
        event.preventDefault();
        $('html, body').animate({scrollTop:0}, 'slow');         
    });
    // mobile nav toggle
    $('#nav-toggle').on('click', function (event) {
        event.preventDefault();
        $('#main-nav').toggleClass("open");
    });
});
// scroll function
function scrollToID(id, speed){
    var offSet = 50;
    var targetOffset = $(id).offset().top - offSet;
    var mainNav = $('#main-nav');
    $('html,body').animate({scrollTop:targetOffset}, speed);
    if (mainNav.hasClass("open")) {
        mainNav.css("height", "1px").removeClass("in").addClass("collapse");
        mainNav.removeClass("open");
    }
}
if (typeof console === "undefined") {
    console = {
        log: function() { }
    };
}
</script>
{%endblock%}